<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AD_UNIT_ID_FOR_BANNER_TEST</key>
	<string>ca-app-pub-3940256099942544/2934735716</string>
	<key>AD_UNIT_ID_FOR_INTERSTITIAL_TEST</key>
	<string>ca-app-pub-3940256099942544/4411468910</string>
	<key>CLIENT_ID</key>
	<string>404611832525-pvb49626er92kmaccf2h9sqccpchn1gt.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.404611832525-pvb49626er92kmaccf2h9sqccpchn1gt</string>
	<key>API_KEY</key>
	<string>AIzaSyC2oooIQYg8d1GniUtjfgMG_mWLQnG_qP0</string>
	<key>GCM_SENDER_ID</key>
	<string>404611832525</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>andywong.GoingToJapan</string>
	<key>PROJECT_ID</key>
	<string>dnotes-d335d</string>
	<key>STORAGE_BUCKET</key>
	<string>dnotes-d335d.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<true></true>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<false></false>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:404611832525:ios:e6a1987a709b00b7</string>
	<key>DATABASE_URL</key>
	<string>https://dnotes-d335d.firebaseio.com</string>
</dict>
</plist>